include(default)
[settings]
build_type=RelWithDebInfo
compiler=apple-clang
compiler.version=13.1
compiler.libcxx=libc++
[env]
CONAN_CMAKE_TOOLCHAIN_FILE={{ os.path.join(profile_dir, "apple.toolchain.cmake") }}
