include(default)
[settings]
os.ag_profile_version=2
os.ag_sanitizer=address
[conf]
tools.cmake.cmaketoolchain:user_toolchain+={{profile_dir}}/linux-asan.toolchain.cmake
tools.cmake.cmaketoolchain:generator=Ninja
