include(default)
[settings]
compiler.runtime=static
os.ag_profile_version=3
[conf]
tools.cmake.cmaketoolchain:user_toolchain+={{profile_dir}}/windows.toolchain.cmake
tools.cmake.cmaketoolchain:generator=Ninja
